* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Typography */
body {
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
  color: #87879d;
  line-height: 26px;
  min-height: 100vh;
  width: 100%;
}
a {
  /* color: #ffffff; */
  text-decoration: none;
}
h1,
h2 {
  color: #28283d;
}
h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  display: none;
}
h2,
h3 {
  font-size: 2rem;
  line-height: 2rem;
}
h2 {
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 320px;
}
h3 {
  display: initial;
  margin-bottom: 1em;
}
h3,
.text-footer {
  color: FAFAFA;
}
.text-footer {
  font-size: 1.125rem;
}
.btn-download {
  background-color: #4d96a9;
  transition: transform 250ms;
}
.btn-whatis {
  background-color: #855fb1;
}
.sub-main {
  color: #4d96a9;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 2em;
}
/*  */

/* Mobile (base) */
.site-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
/* Header */
header {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr repeat(2, minmax(100px, 1fr)) 1fr;
  grid-template-rows: auto;
  /* gap: 3em; */
  width: 100%;
  /* column-gap: 2em; */
  align-items: center;
}

.site-logo {
  grid-column: 2/-2;
  grid-row: 1/1;
  justify-self: center;
  margin: 2em 0 4em 0;
}
.header-body {
  grid-column: 1/-1;
  grid-row: 3/3;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 4em;
}
.header-picture-01 {
  grid-column: 1/3;
  grid-row: 2/2;
  /* justify-self: start; */
  justify-self: end;
  position: relative;
}
.header-picture-02 {
  grid-column: 3/-1;
  grid-row: 2/2;
  /* justify-self: end; */
  justify-self: start;
  position: relative;
  align-self: end;
}
.header-pic {
  /* height: 153px; */
  max-width: 100%;
  height: auto;
}
.header-text {
  width: 88%;
  margin: 2em auto 2em auto;
}
.btn-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 4em;
}
.btn {
  padding: 1em 2em;
  border-radius: 40px;
  width: auto;
  color: white;
}

.body-main {
  margin: 0 auto;
  max-width: 560px;
  width: 90%;
  margin-bottom: 10em;
}
/*  */
/* Transition */
.transition {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 4em;
  align-self: center;
}
.line-transition {
  align-self: center;
  width: 1px;
  background-color: #dddde3ff;
  height: 80px;
}
.number-transition {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid #dddde3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */
/* main img */
.pictures-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 90%;
  margin: 0 auto;
  gap: 2em;
  justify-items: center;
  max-width: 500px;
  margin-bottom: 3em;
}
.main-img {
  /* height: 153px; */
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.transition-02 {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  color: black;
  top: -6.5em;
}
.number-transition-02 {
  background-color: white;
  margin: 0 auto;
}

footer {
  background-color: #4d96a9;
  text-align: center;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(/Images/tablet/image-footer.jpg);
  opacity: 0.1;
  background-size: cover;
  background-position-x: center;
}
.text-footer {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 3em;
  margin-top: auto;
  width: 80%;
}
.footer-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btn-whatis-footer {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4em;
}
.btn-whatis:hover {
  background-color: #d9b8ff;
  transform: scale(1.05);
}
.btn-download:hover {
  background-color: #8fe3f9;
  transform: scale(1.05);
}
/*  */

/*Media queries  */
@media only screen and (min-width: 400px) {
  h1 {
    display: initial;
    display: inline-block;
    width: 55%;
  }
}
@media only screen and (min-width: 780px) {
  h3 {
    display: none;
  }
  .pictures-main {
    max-width: none;
  }
}
@media only screen and (min-width: 1260px) {
  .footer-container {
    flex-direction: row;
  }
  .header-body {
    grid-column: 1/-1;
    grid-row: 2/2;
  }
  h1 {
    align-self: start;
  }
  .header-text {
    grid-row: 3/3;
  }
  .header-picture-01 {
    grid-column: 1/1;
    justify-self: start;
    position: relative;
    left: -10%;
  }
  .header-picture-02 {
    grid-column: 4/4;
    justify-self: end;
    align-self: end;
    left: 10%;
  }
  .header-body {
    grid-column: 1/-1;
    grid-row: 2/2;
  }
  h3 {
    display: initial;
    max-width: 350px;
    margin-bottom: 0;
  }
  footer {
    display: flex;
    flex-direction: row;
    text-align: left;

    padding: 4em;
  }
  .footer-content {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .transition {
    /* margin: 0; */
    left: 50%;

    top: -10.5rem;
  }
  .transition-02 {
    transform: translateX(-50%);
  }
  .text-footer {
    max-width: 350px;
    margin: 0;
  }
  .btn-whatis-footer {
    margin-bottom: 0;
    margin: 0;
  }
  footer:before {
    background-image: url(/Images/desktop/image-footer.jpg);
  }
}
@media only screen and (min-width: 1440px) {
  .site-container {
    overflow: visible;
    margin: 0 auto;
  }
  .header-picture-01 {
    left: 0;
  }
  .header-picture-02 {
    left: 0;
  }
}
